/*:root {*/
/*    --var-bgcolor: #fff;*/
/*    --var-fontcolor: #000;*/
/*}*/

/*body {*/
/*    background-color: var(--var-bgcolor);*/
/*    color: var(--var-fontcolor);*/
/*}*/

.Header{
    display: flex;
    background:darkblue;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

body {
    color: #222;
    background:midnightblue;
}
a {
    color:white;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
}


.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #0033cc;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn:hover {
    background-color: #002fed;
}
.btn:active {
    background-color: #2f599e !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}


.btn_top_page {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 200px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #0033cc;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn:hover {
    background-color: #002fed;
}
.btn:active {
    background-color: #2f599e !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.searchTerm {
    width: 300px;
    /*border: 3px solid #00B4CC;*/
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 100px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    color: #002fed;
    text-align: center;

    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
::placeholder{
    color: #002fed;
}

.name{
    margin-left: 500px;
    width: 200px;

}


.btn1{

    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 5px 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 25px;
    line-height: 32px;
    font-size: 12px;
    /*font-weight: 500;*/
    text-decoration: none;
    color: #fff;
    /*background-color: #3775dd;*/
    background: #0033cc;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn1:hover {
    background-color: #002fed;
}
.btn1:active {
    background-color: #2f599e !important;
}
.btn1:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn1:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}



:root {
    --background: white !important;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
}


/*[data-theme='dark'] {*/
/*    --background: black !important;*/
/*    --text-primary: white;*/
/*    --text-secondary: grey;*/
/*    --accent: darkred;*/
/*}*/

.App1 {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    height:20px;
    transition: all .5s;
}
.swich_button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
}


.btn12{

    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 5px 15px 15px 0;
    outline: none;
    background:midnightblue;
    border: none;
    height: 25px;
    line-height: 32px;
    font-size: 18px;
    /*font-weight: 500;*/
    text-decoration: none;
    color: #fff;
    /*background-color: #3775dd;*/
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}