
.Header{
    display: flex;
    background-image: url(/src/images/red-theater-curtain-background-website-header.jpg);
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


}

.image_name{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

body {
    color: #222;
   background-image: url("https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-attachment: fixed;
}

a {
    color: white !important;
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
}


.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    background-color: red;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}

.btn:active {
    background-color: red !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px red;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}


.btn_top_page {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 15px 355px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 150px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #b80231;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn:hover {
    background-color: palevioletred;
}
.btn:active {
    background-color: darkgrey !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: transparent;
    pointer-events: none;
    border: 1px solid black;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.searchTerm {
    width: 300px;
    /*border: 3px solid #00B4CC;*/
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: red;
}

.searchButton {
    width: 100px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    color: #002fed;
    text-align: center;

    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
::placeholder{
    color: #002fed;
}

.name{
    margin-left: 300px;
    width: 200px;

}


.btn1{

    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 5px 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 25px;
    line-height: 32px;
    font-size: 12px;
    /*font-weight: 500;*/
    text-decoration: none;
    color: #fff;
    /*background-color: #3775dd;*/
    background-color: red;

    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn1:hover {
    background-color: palevioletred;
}
.btn1:active {
    background-color: #2f599e !important;
}
.btn1:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn1:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}



.btn12{

    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 5px 15px 15px 0;
    outline: none;
    border: none;
    height: 25px;
    line-height: 32px;
    font-size: 18px;
    /*font-weight: 500;*/
    text-decoration: none;
    background: transparent;

}
