
.card_of_movie{
    position: relative;
    height: 550px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    background:navy;
    padding-bottom: 15px;
    text-decoration: none

}

a{
    color: #8d8176;
    text-decoration: none !important;
    border: none !important;
}

.card_of_movie_info{
    padding-bottom: 15px;
    padding-top:15px;
    width: 600px;
    /*width: 100%;*/
    height: 1460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    text-decoration: none;
    color: #8d8176;
    border: none !important;
    background: darkblue;
   padding-left: 10px;

}

.card_of_movie_info:empty{
    display: none;
}

.pic{
    padding-top:15px;
    height: 1050px;
    width: 850px;


}

image{
    top: 0;
    height: 100%;
    width: 100%;

}


.card_of_movie:hover {
    transition: all linear .1s;
    border: 1px solid #59c7fb;
    background:mediumblue;

}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 95px; height: 95px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 130px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.box{
    display: flex;
    gap: 20px;
    width: 100%;


}

.cars_list{
    background: darkblue;
    width:1200px;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 35px;
    border-radius: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
 h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

 .info{
    margin-top: 30px;

 }

.page{
    width: 10px;
    height: 10px;
    background: #0033cc;
    margin-left: 20px;

}
